@font-face {
    font-family: 'Raleway';
    src: url('polices/static/Raleway-Regular.ttf')
}

body {
    margin:5%;
    background-color: chartreuse;
    font-family:'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
}

footer {
    background-color:wheat ;
   
}

#bloc_pages{

    width: 100%;
    margin: auto;
    background-color: blueviolet;
    
    

}

h1 img {
    width: 30%;
}

p {
    font-size: 60%;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end ;
}

nav ul {

    list-style-type: none;
    display: flex;
}

nav li{

    margin-right: 15px;
    margin-bottom: 70px;

}



.button-filtre{ 
    font-weight: bold;
    align-items: center;
    display:flex;
}  


button{
    height: 25px;
    font-size: 80%;
    font-weight: bold;
    background-color: white;
    border-color:#F2F2F2;
    padding:0px 10px 0px 0px;
    margin:0px 15px 0px 0px;
    border-style:solid;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    
}

.button-filtre p{
    width: 10px;
}


.button-filtre i{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 7PX;
    margin: 0px 5px 0px -8px;
    border-radius: 25px;
    
}

ul{
    list-style: none;
}

li{
   display: inline;
}

input {
    border:none;
    font-size: 60%;
    font-weight: bold;
}

.map {   
    width: auto;
    height: 30px;
    display: flex;
    margin: auto;
    padding: auto;

}

 .map i {
    width: 30px;
    height: 27px;
    border-style: solid;
    border-color: #F2F2F2;
    background-color:#F2F2F2; 
    text-align: center;
    line-height: 27px;
    border-right: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    
}

.input1 {
    height: 30px;
    border-style: solid;
    border-color: #F2F2F2;
    border-right: none;
}

.input2 {
    background-color: #0065FC;
    border-style:solid;
    border-color: #F2F2F2;
    color: white;
    width: 80px;
    height: 30px;
    border-left: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.infocircle{
    font-size: 70%;
    display: flex; 
    align-items: center;
}

.infocircle i{
    margin: 0px 5px 0px 0px;
    background-color: #0065FC;
    color: white;
    border-radius: 25px;
    align-items: center;
}



section{
    display: flex;
    width: auto;
    background-color: black;

}  
    
article {
    display:flex;
    justify-items: space-around;
    background: red;   
   
}



.hébergements {
    width: 70%;
    height: 100%;
    display:flex;
    flex-direction: column; 
    margin:0% 1% 0% 0%;
    padding: 0%;
    background-color: #F2F2F2;
    border-radius: 12px;
    
}

.populaires{
    width:  30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin:0% 1% 0% 1%;
    background-color: #F2F2F2;
    border-radius: 12px;

}

aside{
    background-color: thistle;
}
.card {
    width: 30%;
    height:100%;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    line-height: 5px;
    overflow:hidden;
  
}

.card img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;

}

.card h3{
    font-size: 70%;
}

.card i{
    color:#0065FC;
    font-size: 60%;
}

.ligne1 {
    display: flex;
    flex-direction: row;
    padding: 2%;
    
}

.ligne2 {
    display: flex;
    flex-direction: row;
    padding: 2%;
   
}

.populaires .card {
    flex-direction: row;
    width : 80%;
    height: 30%;
}

aside {
    display: inline-block;
}

.ligne1{
    background-color: khaki;
}

.ligne2 {
    background-color: lemonchiffon;

}





